@media (max-width: 875px) {
    .header {
        &__links {
            display: none;
        }


        .button {
            display: none;
        }

        span {
            display: block;
        }
    }


    .hero {
        display: flex;
        flex-direction: column;
        .container {
            display: flex;
            flex-direction: column;
        }
        &__text {
            padding-top: 40px;
            text-align: center;
            order: 2;
            
        }

        &__image {
        display: none;
        }

        &__image2 {
            position: relative;
            background-image: url('images/bg-intro-mobile.svg');  
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 17.5rem;
            width: 100%;

            &::before {
                content: '';
                position: absolute;
                background-image: url('images/image-mockups.png');
                background-size: 93%;
                background-repeat: no-repeat;
                background-position: center bottom;
                height: 100%;
                width: 100%;
            }
            
        }
    }
               

    .feature {
        text-align: center;
        .container {
            
        }
        &__intro {
            max-width: 1000px;
        }

        &__flex {
            flex-direction: column;
        }
    }

    .article {
        
        .container {
            
        }

        &__intro {
            text-align: center;
        }

        &__flex {
            display: flex;
            
            align-items: center;
            flex-direction: column;
            
            
            
        }

        &__item {
            margin-bottom: 20px;
            margin-right: 0px;
            
            &:not(:last-child) {
                margin-right: 0px;
            }
        }
    }

    .footer {
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__col1 {
            margin-bottom: 30px;
            img {
                margin-bottom: 20px;
            }
            
        }

        &__col2 {
            text-align: center;
            margin-bottom: 20px;
        }

        &__col3 {
            margin-bottom: 30px;
            text-align: center;
        }

        &__col4 {
            text-align: center;
            
            
        }
    }
}